.root {
  position: relative;
  width: min-content;
}

.upper-display {
  width: 100%;
  height: 640px;
  margin-bottom: 10px;
  display: flex;
}

.upper-display > * {
  margin-right: 10px;
}

.upper-display > *:last-child {
  margin-right: 0;
}

.players-container {
  width: 320px;
  height: 100%;
}

.board {
  position: relative;
  width: 640px;
}

.player {
  height: calc(50% - 5px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.player:last-child {
  margin-bottom: 0px;
}

.player-name {
  display: flex;
  /* flex-basis: 20%; */
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  width: 100%;
}

.player-score {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-bottom: 10px;
}

/* Player Creator */
.player-creator-container {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
  padding: 25%;
}

.player-creator-container .inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  vertical-align: middle;
}

.player-creator-container input {
  height: 100%;
}

.player-creator-container input[type='text'] {
  width: 70%;
}

.player-creator-container button {
  height: 30px;
}

/* Game Result */
.player-result-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 320px;
  padding-left: 0;
  padding-right: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.player-result-container .title {
  font-size: 32px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.player-result-container .time {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.3);
}

.player-result-container button {
  width: 128px;
  height: 30px;
}

.player-result-container .record {
  width: 100%;
  display: flex;
  justify-content: stretch;
  padding: 5px 10%;
  color: rgba(255, 255, 255, 0.7);
}

.player-result-container .record.header {
  color: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.1);
}

.player-result-container .record > * {
  position: relative;
  display: inline-block;
  flex: 1;
  text-align: center;
}

/* rank */
.player-result-container .record *:nth-child(1) {
  flex: 0 0 20px;
}

/* name */
.player-result-container .record *:nth-child(2) {
  flex: 0 0 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player-result-container .record .tooltip {
  z-index: 9999;
  display: none;
  position: absolute;
  left: 50%;
  top: 0;
  width: 200px;
  height: max-content;
  transform: translate(-50%, -120%);
  border-radius: 5px;
  background: #333333;
  white-space: normal;
  padding: 10px;
  color: #dedede;
  overflow: visible;
}

.player-result-container .record span:hover .tooltip {
  display: inline-block;
}

.tooltip::after {
  content: ' ';
  position: absolute;
  left: 50%;
  top: calc(100% - 1px);
  margin-left: -8px;
  border: 8px solid;
  border-color: #333333 transparent transparent transparent;
}

/* player status's minos */
.mino-container {
  flex-basis: 80%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px -9px inset;
}

.mino-container .mino {
  width: max-content;
  height: max-content;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* My minos */
.lower-display {
  width: 100%;
  height: 25vh;
  background: #e3e3e3;
}

.my-minos {
  height: 100%;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.mino-button {
  width: max-content;
  height: max-content;
  background: none;
  border: none;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.selected-mino {
  position: fixed;
  pointer-events: none;
}
