.root {
  position: relative;
  width: min-content;
}

.upper-display {
  width: 100%;
  height: 640px;
  margin-bottom: 10px;
  display: flex;
}

.upper-display > * {
  margin-right: 10px;
}

.upper-display > *:last-child {
  margin-right: 0;
}

.players-container {
  width: 320px;
  height: 100%;
}

.board {
  position: relative;
  width: 640px;
}

.player {
  height: calc(50% - 5px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.player:last-child {
  margin-bottom: 0px;
}

.player-name {
  display: flex;
  /* flex-basis: 20%; */
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  width: 100%;
}

.player-score {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-bottom: 10px;
}

/* Player Creator */
.player-creator-container {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
  padding: 25%;
}

.player-creator-container .inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  vertical-align: middle;
}

.player-creator-container input {
  height: 100%;
}

.player-creator-container input[type='text'] {
  width: 70%;
}

.player-creator-container button {
  height: 30px;
}

/* player status's minos */
.mino-container {
  flex-basis: 80%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px -9px inset;
}

.mino-container .mino {
  width: max-content;
  height: max-content;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* My minos */
.lower-display {
  width: 100%;
  height: 25vh;
  background: #e3e3e3;
}

.my-minos {
  height: 100%;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.mino-button {
  width: max-content;
  height: max-content;
  background: none;
  border: none;
  padding-right: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.mino-button:disable {
  background: gray;
}

.selected-mino {
  position: fixed;
  pointer-events: none;
}
